<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="editor_code.Ecl_editor"
            default="false"
            extensions="ecl"
            id="ecl_editor.editor"
            name="Ecl_file_editor">
      </editor>
   </extension>

</plugin>
